.arena {
  display: flex;
  align-items: center;
}

.item--special {
  align-self: flex-end;
}

/* 🟢 Auto-évaluation */
/* 1) 10/10 pour l'alignement différent de l'item. */
/* 2) 10/10 pour l'utilisation d'align-items ET align-self. */
/* 3) 10/10 pour le comportement responsive. */
