.arena {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* 🟢 Auto-évaluation */
/* 1) 10/10 pour l'utilisation de Flexbox en 3 lignes. */
/* 2) 10/10 pour la propreté de l'arena  */
/* 3) 10/10 pour l'utilisation de Flexbox! */
