.arena {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 🟢 Auto-évaluation */
/* 1) 10/10 pour la répartition des éléments sur toute la largeur. */
/* 2) 10/10 pour le centrage vertical des trois blocs lors du redimensionnement. */
/* 3) 10/10 pour l'intégrité de l'HTML. */
