.arena {
  display: flex;
  gap: 1rem;
}

.item--one {
  order: 3;
}

.item--two {
  order: 1;
}

.item--three {
  order: 2;
}

.item--four {
  order: 4;
}

/* 🟢 Auto-évaluation */
/* 1) 10/10 pour l'ordre visuel 2 - 3 - 1 - 4. */
/* 2) 10/10 pour l'absence de modification HTML. */
/* 3) 10/10 pour la conservation de la taille et du style des items. */
